.DS_Store

# clion
.idea/
cmake-build-*/

# exporters
GettingStarted.html
eclipse-extras/

# mbed build system
mbed-os/
mbed_settings.py
mbed_config.h
*.pyc
BUILD/
cmake-build-debug/
BUILD
.mbed
COMPONENT_ism43362
mbed-os
BSP_DISCO_F746NG
LCD_DISCO_F746NG
TS_DISCO_F746NG
mbed-http
